<!DOCTYPE html>
<html>
  <head>
    <title>Portefolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>    
      <nav class="navbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to 'Home', root_path %>
          </li>
          <li class="nav-item">
            <%= link_to 'Contact', contact_path %>
          </li>
          <li class="nav-item">
          </li>
        </ul>
      </nav>


    <%= yield %>
    </body>
</html>
