<!DOCTYPE html>
<html>
  <head>
    <title>Portefolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>    
    <header>
    <div id="logo">
      <h3>Antoine</h3>
    </div>
    <nav id="menu">
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Contact', contact_path %></li>
        <!-- Ajoutez d'autres éléments de menu ici -->
      </ul>
    </nav>
  </header>
    </header>


    <%= yield %>
    </body>
</html>
            
